.bookmark-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;

  &__external {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__wrapper {
    flex-grow: 1;
    min-width: 0;
    margin-right: 8px;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  &__url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 300;
  }
}
