.popup {
  width: 400px;

  &__btns {
    display: flex;
    flex-direction: row;
    padding: 8px 12px;
    background: #e2e8f0;
  }

  &__btn {
    transition: all 250ms ease;
    display: block;
    padding: 4px;
    text-align: center;
    flex: 100% 1 1;
    background: white;
    border: 1px solid #4299e1;
    border-radius: 4px;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;

    &:disabled {
      cursor: not-allowed;
    }

    &:enabled:hover,
    &:enabled:focus {
      background: #4299e1;
      color: white;
    }
  }

  &__load-btn {
    margin-right: 16px;
  }
}
