button {
  cursor: pointer;
}

.popup {
  width: 300px;
  padding: 16px;
}

.popup__divider {
  margin-top: 16px;
  border-top: 1px solid black;
  padding-top: 16px;
}

.popup__load-btn {
  display: block;
  width: 100%;
  padding: 4px;
  text-align: center;
}

.bookmark-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookmark-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px 16px;
}

.bookmark-item--active {
  // TBD
  border: 1px solid green;
}

.bookmark-item--deleted {
  border: 1px solid red;
}

.bookmark-item__wrapper {
  min-width: 0;
  margin-right: 8px;
}

.bookmark-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark-item__url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark-item__del {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
