button {
  cursor: pointer;
}

.popup {
  width: 400px;

  &__btns {
    display: flex;
    flex-direction: row;
    padding: 16px;
  }

  &__btn {
    display: block;
    padding: 4px;
    text-align: center;
    flex: 100% 1 1;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  &__load-btn {
    margin-right: 16px;
  }
}

.bookmark-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-bottom: 1px solid grey;
  }
}

.bookmark-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  &--active {
    // TBD
    border: 1px solid green;
  }

  &--deleted {
    border: 1px solid red;
  }

  &__wrapper {
    min-width: 0;
    margin-right: 8px;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  &__url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
  }

  &__del {
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;

  &__bg {
    flex: 1 1 0%;
    height: 100%;
    border-radius: 10px;
    background-color: gray;
    transition: background-color 0.3s linear;
  }

  &__btn {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    transition: transform 0.3s ease 0s;
    transform: translateX(2px);
  }
}
